.header {
  display: flex;
  justify-content: space-between;
  border-top: 1rem solid $color-primary;
  padding: 1rem 3rem;

  .header h1 {
    align-self: flex-end;
  }
}

.header-icons {
  display: flex;
  padding: 2rem 3rem;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 10rem;
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__link::after {
    content: "";
    display: block;
    background-color: $color-primary;
    margin: 0 auto;
    margin-top: .5rem;
    width: 0;
    height: .5rem;
    transition: all .2s;
  }

  &__link--active::after,
  &__link:hover::after {
    width: 2rem;
  }

  &__notification {
    height: 1.5rem;
    width: 1.5rem;
    background-color: $color-primary;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: .1rem;
    display: none;

    &--show {
      display: block;
    }
  }
}