.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, .8);
  z-index: 9999;
  transition: all .3s;

  display: flex;
  justify-content: center;
  align-items: center;


  &--display {
    opacity: 1;
    visibility: visible;
  }

  &--display-none {
    opacity: 0;
    visibility: hidden;
  }

  &__content { 
    width: 30%;
    background-color: $highlight-color;
    color: $text-color;
    text-align: center;
    padding-bottom: 3rem;
    opacity: 1;
  }

  &__content,
  &__heading {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  &__heading {
    text-align: center;
    background-color: $color-primary;
    color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
  }

  &__body {
    display: flex;
    justify-content: center;
  }

  &__button {
    align-self: center;
    border: none;
    outline: none;
    font-size: 2.5rem;
    color: #fff;
    background-color: $text-color;
    padding: .5rem 1rem;
    cursor: pointer;
  }

  &__quantity {
    font-size: 10rem;
    padding: 0 1.5rem;
    font-weight: 900;
  }

  &__order {
    color: #fff;
    background-color: $color-primary;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem 4rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__close {
    color: #fff;
    position: absolute;
    top: 15rem;
    right: 30%;
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
  }
}