.sidebar {
  background-color: $sidebar-color;
  position: sticky;
  padding: 2rem 0;

  &__categories {
    margin-top: 3rem;
  }

  &__item {
    padding: 1rem;
    padding-left: 3rem;
  }

  &__item:hover,
  &__item--active {
    background-color: $highlight-color;
    border-left: .5rem solid $color-primary;
    cursor: pointer;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
  }

  &__name {
    color: $color-primary;
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}


