.order {

  &__checkout:link,
  &__checkout:visited {
    background-color: $color-primary;
    color: white;
    font-size: 2rem;
    padding: 1rem 4rem;
    text-decoration: none;
  }

  &__modal {
    width: 70%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__remove {
    border: none;
    outline: none;
    align-self: center;
    background-color: $dark-primary;
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    padding: .5rem 1rem;
  }

  &__item {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    border-bottom: .2rem solid #000;
    cursor: pointer;
    font-weight: 400;
    transition: all .2s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > :first-child {
      flex-basis: 40%;
    }

    &:hover {
      flex-basis: 75%;
      background-color: $color-primary;
      color: #fff;
      padding: 1rem 2rem;
      border: none;
    }
  }
}