.order {

  &__heading {
    color: $text-color;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
  }

  &__image {
    height: 30rem;
    width: 30rem;
  }

  &__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__message {
    color: $text-color;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  &__button {
    align-self: center;
  }
}